API Key: NWRlNTYzNGEtOGM0NS00MDk1LWIxOWItMmQ4YTE5ZGRlMWI2

API Secret: MDk1YWFhM2ItYjMxYi00MmMzLThkYzQtOTBmNGE0NjY4ZmJm

YouTube API Key: AIzaSyC1gX2sqjNqKVaDNi4shmU8GhH1VQS8zRQ
YouTube OAuth 2.0 Client IDs: 877132602517-c7ns851i5m504l2g6plvsoob6t186kfc.apps.googleusercontent.com
Client Secret: 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